* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-color: #52d8c2;
  --white-color: #fff;
  --dark-color: #000;
  --gray-color: #cdcdcd;
  --transition: all 300ms ease-in-out;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  min-height: 100vh;
  color: var(--dark-color);
  background-color: var(--gray-color);
}
.wrapper {
  background-color: var(--white-color);
  padding: 1.5rem 4rem 3rem 4rem;
  width: 600px;
  height: 680px;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  position: relative;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
}

.quiz-title {
  text-align: center;
  font-size: 2rem;
}

.quiz-score {
  text-align: right;
  font-weight: 600;
  font-size: 1.2rem;
  border: 5px solid var(--gray-color);
  font-weight: bold;
  width: 100px;
  height: 50px;
  margin: 0.5rem auto;
  color: var(--main-color);
}

.quiz-question {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.quiz-question .category {
  font-size: 0.9rem;
}
.quiz-options {
  list-style: none;
  margin: 1rem 0;
}

.quiz-options li {
  border-radius: 0.5rem;
  font-weight: 600;
  margin: 0.7rem 0;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  border: 3px solid var(--main-color);
  background-color: var(--main-color);
  color: var(--white-color);
  box-shadow: 0 4px 0 0 #52d8c2;
  transition: var(--transition);
  list-style: none;
}
.quiz-options li:hover {
  background-color: var(--gray-color);
  color: var(--dark-color);
  border-color: var(--gray-color);
  box-shadow: 0 4px 0 0 #bbb;
}
.quiz-options li:active {
  transform: scale(0.97);
}
.selected {
  background-color: var(--gray-color);
  color: var(--dark-color);
  border-color: 0 4px 0 0 #bbb;
}
.quiz-foot button {
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: var(--gray-color);
  color: var(--dark-color);
  letter-spacing: 2px;
  transition: var(--transition);
  box-shadow: 0 4px 0 0 #bbb;
}

.quiz-foot button:hover {
  background-color: var(--gray-color);
  box-shadow: 0 4px 0 0 #a7a7a7;
}
/* .quiz-foot button:active {
  transform: scale(0.95);
} */
#play-again {
  display: none;
}

#result {
  padding: 0.7rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}
#result i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--main-color);
  color: var(--white-color);
}
